components
components/

dev-components
dev-components/

docs
docs/
docs/**

node_modules
node_modules/

public
public/

tests
tests/

.eslintignore
.eslintrc.js
.gitignore
.jest.*
.jest.config.js
babel.config.js
index.js

tsconfig.json
webpack.*
webpack.config.js

dist
dist/